@font-face {
    font-family: "Pretendard Variable";
    src: url("/PretendardVariable.ttf");
}

:root {
    --offset: 0px;
}
* {
    text-decoration: none;
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    background-color: #000;
    min-height: 100vh;
}
::selection {
    color: #000;
    background-color: rgba(255,255,255,0.7)
}
::-webkit-scrollbar {
    width: 0px;
}

a, h1, h2, h3, p, button {
    user-select: none;
}

#pg {
    position: fixed;
    background: #f00;
    border: none;
    height: 50px;
    text-align: left;
    display: block;
    color: #000;
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    transition: transform 0.1s linear;
    z-index: 999;
    cursor: pointer;
}
#directory {
    position: fixed;
    top: calc(100vh - 40px);
    height: 50px;
    text-align: left;
    display: block;
    color: #fff;
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    transition: transform 0.1s linear;
}

a {
    text-align: center;
    display: block;
    color: #fff;
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 80px;
    margin: 0;
    transition: transform 0.1s linear;
    cursor: pointer;
    text-wrap-mode: nowrap;
}
a:hover {
    transform: translateX(var(--offset));
    transition: transform 0.1s linear;
}